main {
  width: 100%;
  background-color: var(--offWhite);
}
.banner {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: background-image 1s linear;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
@keyframes index {
  0% {
    background-image: url("../images/index/1.jpg");
  }
  15% {
    background-image: url("../images/index/2.jpg");
  }
  30% {
    background-image: url("../images/index/3.jpg");
  }
  45% {
    background-image: url("../images/index/4.jpg");
  }
  60% {
    background-image: url("../images/index/5.jpg");
  }
  78% {
    background-image: url("../images/index/6.jpg");
  }
  100% {
    background-image: url("../images/index/7.jpg");
  }
}
.banner .text{
    position: absolute;
    width: 70%;
    height: 150%;
    border-radius: 50%;
    background-color: #5d8975d8;
    left: -33%;

    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    gap: 50px;
    padding: 0 60px;
    
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.658);
}
.banner .text .title{
    font-size: 36px;
    font-weight: bold;
    color: var(--bege);
    width: 50%;
}
.banner .text .subtitle{
    font-size: 24px;
    font-weight: bold;
    color: var(--amarelo);
    width: 50%;
}
.banner .text .content{
    font-size: 30px;
    color: var(--begeClaro);
    width: 50%;
    font-family: "Montserrat-Light";
}
.banner .text a{
    font-size: 20px;
    color: var(--begeClaro);
    background-color: var(--verde);
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 400ms ease;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.247);

}
.banner .text a:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}
.banner .text .links2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    /* margin-top: 40px; */
}
.banner .logo{
    position: absolute;
    top: 20px;
    right: 20px;
}
.banner .links{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
}
.banner .links a{
    font-size: 25px;
    font-weight: 600;
    color: var(--azulEscuro);
}
.banner .links div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.color{
  width: 100%;
  height: 40px;
  background-color: var(--begeClaro);
}

.doar{
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  color: var(--azulEscuro);
}
.doar .title{
  font-size: 28px;
  font-weight: 600;
}
.doar .content{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.doar .content p{
  font-size: 24px;
  width: 50%;
}
.doar .content p span{
  font-weight: 600;
}
.doar .content img{
  width: 40%;
  border-radius: 3px;
}


.causas {
  width: 100%;
  background-color: var(--begeClaro);
  padding: 40px 40px 60px 40px;
}

.causas .title {
  width: 90%;
  margin: 20px auto;
  font-size: 28px;
  font-weight: 600;
  color: var(--azulEscuro);
}

.causas_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.causa_card {
  width: 18%;
  height: 300px;
  position: relative;
  perspective: 1000px;
}

.card_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.causa_card:hover .card_inner {
  transform: rotateY(180deg);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.face.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.face.back {
  background-color: var(--verdeEscuro);
  color: var(--bege);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.descricao {
  font-size: 16px;
  font-weight: 500;
  cursor: default;
}

.causa_card .causa {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: var(--bege);
  font-weight: 600;
  background-color: var(--verdeEscuro);
  padding: 15px;
  border-radius: 10px;
  width: max-content;
}